@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1 class="display-4">I'm Jesus Armando Cano Meraz (25 years old)</h1>

    <h2>Hello, I'm a full stack developer specialized in .NET technologies</h2>

    <img id="myPicture" src="~/Images/Mypicture.png" alt="SalmaPicture" />

</div>


<div class="text-center">
    <img id="dotnet-image" src="~/Images/dotnetlogo.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center" style="background-color: #3AA6B9;">
    <div class="col col-md-7 welcome-section">
        <h1>
            Welcome to my portfolio.
        </h1>
        <p>
            I'm an IT Engineer focused on the development and management of software area. Throughout my studies I have demonstrated motivation and commitment to achieve my academic objectives, for that reason I want to put into practice the knowledge  I have acquired and thus continue learning new skills in a work environment. I have been programming since 2019 and I have worked mainly with tools such as C#/ASP .NET, SQL Serve, Entity Framework, JavaScript among others.
        </p>
    </div>
</div>