@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="margin-top: -105px;">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-file-earmark-code"></i>
            <h3>
                Back-End
            </h3>

            <p>
                I work in the back-end programming and development of applications, testing, deployment and maintenance.
            </p>

            <p class="headers">
                Stack:
            </p>

            <p> ASP. NET, ASP. NET Core, SQL Server</p>

            <p class="headers">
                Experience
            </p>

            <ul>
                <li>Web APIs</li>
                <li>Web Applications</li>
                <li>ASP. NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
            </ul>
        </div>
        <div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-menu-button-fill"></i>
            <h3>Front-End</h3>
            <p>
                I can create and develop attractive, well-developed and structured front-end design that meets the company's requirements.
            </p>
            <p class="headers">
                Stack:
            </p>

            <p> React, Angular, Blazor</p>

            <p class="headers">
                Experience
            </p>

            <ul>
                <li>React Hooks</li>
                <li>JQuery</li>
                <li>JavaScript</li>
                <li>Boostrap Design</li>
                <li>Blazor WASM</li>
            </ul>
        </div>
    </div>
</div>