@{
    ViewData["Title"] = "Thanks";
}

<h1>Thank your for contacting me</h1>

<p>I'll reply to your message as soon as posible.</p>

<div><a asp-action="Index" asp-controller="Home">Go back to Home</a></div>
